@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #3C464A;
  --primary: #0092cc;
  --sidebar: #0092cc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Avenir, Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.11435rem;
  line-height: 1.304;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
